<% if(typeof user === "undefined" || !user || !user.id || !user.name){ %>
  <div class="hero-unit geddy-welcome-box">
    <h1>&#175;\\_(ツ)_/&#175;</h1>
    <p>Welcome, you should totally log in, it will be fun.</p>
    <a class="btn btn-primary btn-large" id="loginbtn" href="/connectToFacebook">Login with Facebook</a>
  </div>
<% } %>
<div class="hero-unit none" id="friendTypeaheadForm">
 
</div>
<div class="hero-unit" id="games">
	<h2>Games</h2>
    <% if(games){
      for(var i=0; i < games.length; i++){ 
      var g = games[i];  
    %>
      <h3><a href="#" class="gamestart" data-gameid="<%= g.id %>"><%=g.drawName + "->" + g.answerName %></a></h3>
    <% }
    }
     %>
  <span>Start a new game </span>
  <input type="text" class="span3" id="friendTypeahead" data-items="4" >
  <input type="button" class="btn btn-primary" id="friendTypeaheadOK" value="OK"/>
</div>
<div id="drawarea" class="hero-unit none">
    <h2 id="wordtitle"></h2>
    <canvas width="320" height="240" id="thecanvas"></canvas>
    <div id="drawtools" class="none">
        <a id="red" href="#"></a><a id="blue" href="#"></a><a id="complete" href="#">complete</a>
    </div>
</div>

<script type="text/javascript" src="/js/game.js"></script>
