<div class="hero-unit">
  <h2>Add a Game:</h2>
  <form action="/games" method="POST">
  	 <% if (params.error) { %>
        <div>Oh Snap! something bad happened</div>
      <%}%>
    %>
    <ul>
    <li>
    	drawFriend: <input type="text" class="span6" name="drawFriend"/>
    </li>
    <li>
    	answerFriend: <input type="text" class="span6" name="answerFriend"/>
    </li>
    <li>
    	<input type="submit" class="btn btn-primary"/>
    </li>
    </ul>
  </form>
</div>