<div class="hero-unit">
  <h2>Add a User:</h2>
  <form action="/users" method="POST">
    Name: <input type="text" class="span6" name="name">
    <input type="submit" class="btn btn-primary">
  </form>
</div>